<module>
  <rawname>announcementtts</rawname>
  <repo>unsupported</repo>
  <name>Announcements TTS</name>
  <version>1.0.7</version>
  <publisher>SQS Polska</publisher>
  <license>GPLv3+</license>
  <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <changelog>
    Fixed tooltips
  </changelog>
  <category>Applications</category>
  <more-info>https://github.com/maladrill/announcement_tts</more-info>
  <description><![CDATA[
   Plays back one of the system recordings (optionally allowing the user to skip it)
   and then goes to another destination, with automatic TTS generation via OpenAI.
   Add your OpenAI key to /etc/asterisk/openai.key after the installation.
   In shell paste below command (don’t forget to add your openAI key):
   touch /etc/asterisk/openai.key && echo "<YOUR_API_KEY_HERE>" > /etc/asterisk/openai.key]]>
  </description>
  <database/>
  <depends>
    <version>17.0.1</version>
    <module>recordings ge 17.0.1</module>
  </depends>

  <destinations>
    <!-- nazwa funkcji w functions.inc.php -->
    <announcementtts>announcementtts_destinations</announcementtts>
  </destinations>

  <menuitems>
    <!-- klucz menu: announcementtts -->
    <announcementtts needsenginedb="yes">Announcements TTS</announcementtts>
  </menuitems>

<popovers>
  <announcementtts>
    <display>announcementtts</display>
    <view>form</view>
  </announcementtts>
</popovers>    
   <hooks>
      <dialplan>
        <config>announcementtts_get_config</config>
      </dialplan>
    </hooks>

  <supported>
    <version>17.0</version>
  </supported>
</module>